<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<!-- Body will include multiple sections - Title and scrape to refresh site, latest news from mars, feature image scraped from site, current mars weather, mars fact table adn the 4 hemisphere areas of mars. -->
<!-- BEGIN - title and scrape refresh button -->
<div class="container">
    <div class="jumbotron">
      <center>
      <h1>Mission to Mars</h1>
      </center>
      <br>
      <center>
      <p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new Mars Data</a>
      </p>
      </center>
    </div>
<!-- END - title and scrape refresh button -->
<!-- BEGIN - This container consist of three areas: latest news, featured image, mars weather, and mars facts. -->  
  <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h3>This is the latest Mars news.</h3>
          <h4>{{mars_data.news_date}}</h4>
          <h4>{{mars_data.news_title}}</h4>
           <p>{{mars_data.news_paragraph}}</p>
          <br>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 big_box">
          <br>
          <h3>Featured image from JPL.</h3>
          <br>
          <img src="{{mars_data.featured_image_url}}" alt="Mars featured image" />
        </div>
        <div class="col-4">
          <div class="row weather-box">
            <div class="col-12">
              <h3>The current weather on Mars</h3>
              <p>
              <br>  
                {{mars_data.mars_weather}}
              </p>
            </div>
          </div>
          <div class="col-12">
            <h3>Mars Facts</h3>
            <p>{{mars_data.mars_facts_html | safe }}</p>
          </div>
        </div>
      </div>
    </div>
<!-- END - This container consist of three areas: latest news, featured image, mars weather, and mars facts. -->  
<!-- BEGIN - This container consist of the 4 hemisphere images for mars.  This includes two for loops to create teh two rows of images adn titles. -->  
    <div class="container-fluid, jumbotron">
      <br>
      <h3><center>Mars Hemispheres</center></h3>
      <br>
      <div class="body">
      <div class="row">
          <div class="col-6">
              {% for hemisphere in mars_data.mars_hemisphere[0:2] %}
              <img src="{{hemisphere.img_url}}" alt="hemisphere" style="width:105%;">
              <div class="caption"style="font-weight: bold;">
                <br> 
                <center>{{hemisphere.title}}</center>
                <br>
              </div>                                           
              {% endfor %}
          </div>
          <div class="col-6">
              {% for hemisphere in mars_data.mars_hemisphere[2:4] %}
              <img src="{{hemisphere.img_url}}" alt="hemisphere" style="width:105%;">
              <div class="caption" style="font-weight: bold;">
                <br>
                <center>{{hemisphere.title}}</center>
                <br>
              </div>                                           
              {% endfor %}
          </div>
<!-- END - This container consist of the 4 hemisphere images for mars.  This includes two for loops to create teh two rows of images adn titles. -->  
        </div>
      </div>
    </div> 
  </div>
  </div>
  </div>
  </div>
</body>
</html>