.body {
  background-color: #197aff;
  background: #197aff;
}
.m-top-75 {
  margin-top: 50px;
  margin-right: 50px;
}
.container {
    background-color: #197aff;
    background: #197aff;
}
.jumbotron {
    color: blue;
    background: blue;
  width: 75%;
  height: 75%;
  padding:25px;
  text-align: center
}
.btn-primary {
  background-color: white !important;
  background: #fff;
} 
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-align: center
}
h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center
}
h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  font-size: 18x;
  font-weight: 500;
  text-align: center
}
h4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  font-size: 12x;
  font-weight: 400;
  text-align: center
}
p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  font-size: 12x;
  font-weight: 300;
  text-align: center
}
.table-box {
  border-style: solid;
  border-width: 2px;
  border-color: black; 
}
.weather-box {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background:  white;
    color: white;
}